<%= form_with(model: [@team], local: true) do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :purse %>
    <%= form.number_field :purse %>
  </div>

  <div class="field">
    <%= form.label :total_players %>
    <%= form.number_field :total_players %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
