<!-- app/views/admin/users/show.html.erb -->
<title>iLead Cricket Auction</title>
<style>
    body{
        font-family: Trebuchet MS;
        display:inline-flex;
        /* text-align: center; */
    }
</style>
<body>
<h2>User Details</h2></br>
<p><strong>ID:</strong> <%= @admin.id %></p></br>
<p><strong>Email:</strong> <%= @admin.email %></p></br>

<%= link_to 'Edit', edit_admin_session_path(@admin) %> |
<%= link_to 'Back', "/admin_sessions" %>
<%= button_to "Delete", "/admin_sessions/#{@admin.id}/delete_admin", method: :delete%>
</body>