<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Auction: iLead Cricket League</title>
	  <%= csrf_meta_tags %>
	  <%= csp_meta_tag %>

	  <link rel="icon" type="image/png" href="/assets/league-logo.png"> 
	  <audio id="bidSound" src="<%= asset_path('bid.mp3') %>" preload="auto"></audio>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
	
	<style type="text/css">

	  body {
	    font-family: 'Trebuchet MS';
	    background-color:	#0a0a2a;
		background-size: cover; /* Ensures the background covers the entire viewport */
        background-attachment: fixed;
<%# 	    background-color: #1a237e;  %>
	    margin: 0;
	    padding: 10px;
<%# 	    overflow: hidden; %>
	  }

	  header {
	    background: linear-gradient(to left, #f57224, #f58754, #1a237e); 
	    color: #fff;
	    text-align: center;
	    padding: 14px;
	    font-size: 2.0em; 
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
	  }

	  .user-cards {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    padding: 15px;
	  }
	  
	  @keyframes slideIn {
	    from {
	      transform: translateX(-100%);
	    }
	    to {
	      transform: translateX(0);
	    }
	  }

	  .user-info-card {
	    border: 2px solid #f57224; 
	    border-radius: 12px;
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	    background-color: #fff; 
	    padding: 30px;
	    height: 700px;
	    width: 1225px; 
	    margin: 10px;
	    display: flex;
	    position: relative;
	    background-image: url("https://i.postimg.cc/HkbrSWc5/bg.png");
<%# 	    background-image: url("/assets/bg.png");  %>
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	    transition: transform 0.3s ease-in-out;
	    animation: slideIn 1s ease-out; 
	  }

	  .user-info-card:hover {
	    transform: scale(1.03);
	  }

	  .player-photo {
	    flex: 2;
	    position: relative;
	    overflow: hidden;
	  }

	  .player-photo img {
	    width: 85%;
	    height: 100%;
	    object-fit: cover;
	    border-radius: 12px; 
	    border: 3px solid #fff; 
	    box-sizing: border-box; 
	  }

	  .user-id {
	    position: absolute;
	    width: 83%;
	    bottom: 3px;
	    left: 3px;
	    right: 0;
	    text-align: center;
	    background-color: rgba(0, 0, 0, 0.7);
	    color: #fff;
	    padding: 10px;
	    font-size: 1.5em;
	    border-radius: 0 0 12px 12px;
	  }

	  .player-details {
	    flex: 3;
	    padding: 20px;
	    text-align: left;
	    color: black;
	    color: #fff;
	    background-color: rgba(0, 0, 0, 0.7); 
	    border-radius: 12px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    border: 2px solid #fff; 
	    box-sizing: border-box;
	  }

	  .player-name {
	    padding: 20px;
	    text-align: center;
	    color: #fff; 
	    font-size: 3.0em;
	    margin-bottom: 10px;
	  }

	  .player-details p {
	    text-align: center;
	    color: black;
	    color: #fff; 
	    font-size: 1.8em; 
	    margin-bottom: 12px; 
	    border: 1px solid #fff; 
	    box-sizing: border-box;
	  }

	  .base-price {
	    text-align: center;
	    margin-top: 20px; 
	    color: black;
	    padding: 0px;
	    border-radius: 12px; 
	    font-size: 2.3em; 
	  }

	  .logo img {
	    max-height: 50px;
	    margin: 0 10px;
	  }

	  .pagination {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-top: 20px;
	  }

	  .pagination a, .pagination span {
	    padding: 10px;
	    margin: 0 5px;
	    font-size: 1.0em;
	    color: #fff;
	    text-decoration: none;
	    border: 2px solid #f57224;
	    border-radius: 5px;
	    background-color: #f57224;
	  }

	  .pagination .disabled, .pagination .active {
	    color: #fff;
	    background-color: #f58754;
	    border: 2px solid #f58754;
	  }

	  .player-form {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-top: 20px; 
	  }

	  .player-form select,
	  .player-form input {
	    width: 100%;
	    padding: 10px;
	    margin-bottom: 10px;
	    box-sizing: border-box;
	  }

	  .player-form button {
	    width: 100%;
	    padding: 10px;
	    background: #1a237e; 
	    color: #fff;
	    border: none;
	    border-radius: 5px;
	    cursor: pointer;
	    transition: background-color 0.3s ease; 
	  }

	  .player-form button:hover {
	    background-color: #f58754; 
	  }

	  .increment-btn,
	  .btn-primary {
	  	background: #1a237e;
	    margin-left: 5px;
	    padding: 10px;
	    border: none;
	    font-size: 1.0em; 
	    border-radius: 5px;
	    cursor: pointer;
	    transition: background-color 0.3s ease; 
	  }

	  .increment-btn:hover,
	  .btn-primary:hover {
	  	color: black;
	    background-color: #f58754; 
	  }

	  .flex-container {
	    display: flex;
	    align-items: center;
	  }

	  .current-price {
	    width: 550px; 
	    text-align: center;
	    margin-right: 10px;
	    margin-left: 10px; 
	  }

	  .custom-popup {
	    display: none;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    padding: 20px;
	    background-color: #fff;
	    border: 2px solid #f57224;
	    border-radius: 5px;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	    z-index: 1000;
	  }

	  .custom-popup p {
	    margin: 0;
	    font-size: 1.2em;
	    color: #333;
	  }

	  .custom-popup-buttons {
	    margin-top: 10px;
	    text-align: center;
	  }

	  .custom-popup-buttons button {
	    padding: 10px 20px;
	    margin: 0 10px;
	    font-size: 1em;
	    cursor: pointer;
	  }

	  .custom-popup-buttons button.primary {
	    background-color: #f57224;
	    color: #fff;
	    border: none;
	    border-radius: 5px;
	  }

	  .custom-popup-buttons button.secondary {
	    background-color: #ddd;
	    color: #333;
	    border: none;
	    border-radius: 5px;
	  }
	  .bidButton{
	  	background: linear-gradient(to right, #f57224, #f58754);
	  	font-size: 1.8em;
	  	border: 1px solid #fff;
	  	box-sizing: border-box;
	  	color: lightgoldenrodyellow;
	  }

	  .teams-table {
		  background: linear-gradient(to right, #f57224, #f58754);
		  font-size: 1.1em;
		  color: black;
		  width: 100%;
		  margin-top: 20px;
		  border-collapse: collapse;
		  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		 }

		.teams-table th, .teams-table td {
		  border: 2px solid #ddd;
		  padding: 12px;
		  text-align: center;
		}

		.teams-table th {
			color: #fff;
		  background-color: #1a237e;
		}

		.teams-table tr:nth-child(even) {
		  background-color: #f58754;
		}

		.teams-table tr:hover {
		  background-color: #f57224;
		}
	 .alert-container {
	      text-align: center;
	      margin: 20px 0;
	    }

    .alert {
    	font-size: 1.0em;
    	margin-top: 10px;
      padding: 15px;
      margin: 0 auto;
      width: 50%; 
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .alert-success {
      background-color: #4CAF50;
      color: white;
    }

    .alert-danger {
      background-color: #ff7043;
      color: white;
    }
	  center {
	    margin-top: 20px;
	  }
<%# @keyframes continuousMove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

p.animation-text {
  color: white;
  font-size: 1.0em;
  white-space: nowrap;
  overflow: hidden;
  animation: continuousMove 10s linear infinite;
  display: inline-block;
}

p.animation-text:hover {
  animation-play-state: paused;
} %>
	</style>

	<header>
	  <div class="logo">
	    <img src="https://i.postimg.cc/HkhvqWrg/logoilead.png" alt="">
		<b>iLead Cricket League</b>
	  </div>
	  <%# <img src="/assets/logo.png" alt="League Logo" height="50" width="50"> 
	  <span>iLead Cricket League</span> %>
	</header>
	<body>
    <!-- <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %> -->
	<%#= flash[:notice] %>
	<%#= flash[:alert]%>

		<div class="user-cards">
		  <% @users.each do |user| %>
		    <div class="user-info-card">
		      <div class="player-photo">
		        <% if user.photo_attachment.attached? %>
		          <%= image_tag user.photo_attachment, alt: "#{user.full_name} Photo" %>
		        <% else %>
		          <p class="no-photo">No photo attached for this player.</p>
		        <% end %>
		        <div class="user-id">
		          <!-- <p>Player Number: <%= user.id %></p> -->
				  <p>Player Number: <%= @users.current_page %></p> 
		        </div>
		      </div>
		      <% base_price = 0%>
		      <% case user.level_of_skill %>
		        <% when "Expert" %>
		          <% base_price = 250%>
		        <% when "Intermediate" %>
		          <% base_price = 150%>
		        <% when "Beginner" %>
		          <% base_price = 50%>
		      <% end %>
		      <div class="player-details">
		        <h2 class="player-name"><b><%= user.full_name %></b></h2>
		        <div class="player-details">
		          <p><strong>Skills:</strong> <%= user.skills %></p>
		          <p><strong>Level of Skill:</strong> <%= user.level_of_skill %></p>
		        </div>
		        <div class="player-form">
		          <% unless user.team.present? && user.price != 0 %>
		            <button id="startBidButton"  class="bidButton">Start Bidding</button>
		            <%= form_for user, url: user_path(user), method: :patch do |form| %>
		              <%#= form.select :team, options_for_select(["Team A", "Team B", "Team C"], selected: user.team), { prompt: 'Select Team', class: 'form-control' } %>

		              <%= form.hidden_field :price, id: 'user_price' %> 
		              <%= hidden_field_tag(:page, params[:page]) if params[:page] %>
		              <div class="flex-container">
		                <button type="button" class="increment-btn">Place Bid</button>
		                <p class="current-price">Current Bid: ₹<span class="price"><%= user.price > 0 ? user.price : base_price %></span></p>
		                <%= form.submit 'Confirm Bid', class: 'btn btn-primary ml-auto' %>
		              </div>
		            	<%= form.select :team, options_for_select(Team.order(:id).pluck(:name), selected: user.team), { prompt: 'Select Team', class: 'form-control' } %>
		            <% end %>
		          <% end %>
		        </div>
		        <div class="base-price">
		          <% if user.price > 0 %>
		            <p style="font-size: 1.0em; background: #4CAF50; border-radius: 8px;">Sold to <%= user.team %> for ₹<%= user.price %></p>
		          <% else %>
		            <p style="font-size: 1.0em; background: linear-gradient(to right, #f57224, #f58754); color: black; border-radius: 8px;">
		              Base Price ₹<%= base_price %>
		            </p>
		          <% end %>
		        </div>
		        <%# <p style="color: white; font-size: 1.2em;">Developed By: Yash Sharma</p> %>
		      </div>
		    </div>
		    <div class="teams-data">
		      <% half_teams = Team.order(:id).pluck(:name, :purse, :total_players).each_slice((Team.count / 2.0)).to_a %>

		      <table class="teams-table">
		        <tr>
		          <th>Team Name</th>
		          <th>Purse Reamaining</th>
		          <th>Total Players</th>
		        </tr>

		        <% half_teams.each_with_index do |teams, index| %>
		          <% teams.each do |team_data| %>
		          <%#byebug%>
		            <tr>
		              <td><%= team_data[0] %></td>
		              <td>₹<%= team_data[1] %></td>
		              <td><%= team_data[2] %></td>
		            </tr>
		          <% end %>
		        <% end %>
		      </table>
		    	<table class="teams-table">
		    		<tr>
		    			<th colspan="3">Most Expensive Buy</th>   			
		    		</tr>
		    		<tr>
		    			<%if User.pluck(:price).sort.last > 0%>
		    			<td colspan="3"><%= User.where(price: User.pluck(:price).sort.last).pluck(:full_name, :price).map { |name, price| "#{name} (₹#{price})" }.last(3).join(', ')%></td>
		    			<%else%>
		    			<td colspan="3">No player sold</td>
		    			<%end%>
		    		<tr>
		    		
		    		<tr>
		    			<th>Total Players</th> 
		    			<th>Sold Players</th>
		    			<th>Not Sold/Auctioned</th>
		    		</tr>
		    		<tr>
		    			<td><%= User.count %></td>
		    			<td><%=Team.pluck(:total_players).sum%></td>
		    			<td><%= @users.where(team: nil).count %></td>
		    		</tr>	
		    		<%# comment the below code for more than 6 teams %>
		    		<tr>
		    			<th colspan="3">Quick Links</th>
		    		</tr>
		    		<tr>
			    		<td>
							  <%= link_to 'Home', root_path, style: "color: #000;" %>
							</td>		
							<td>
							  <%= link_to 'Squads', teams_data_path, style: "color: #000;" %>
							</td>		
							<td>
							  <%= link_to 'Players', admin_users_path, style: "color: #000;" %>
							</td>
		    		</tr>
		    		<%# comment till here from above %>
		    	</table>
		    </div>
		    	<p style="color: white; font-size: 1.0em;"> <marquee width="100%" behavior="scroll" scrollamount="10">
     <%unless @teams_with_latest_users.empty? %>
     <%#unless @users_by_team.empty? %>
			<b>TheCricAuction | Developed By: Yash Sharma </b>
			<b>|  Latest Purchased Players: </b>
				<% @teams_with_latest_users.each do |team_info| %>
			  	<b><%= team_info[1] %>: </b>
			    <%= "#{team_info[2]} (Sold for ₹#{team_info[3]})" %>
				<% end %>
<% team_info_strings = @users_by_team.map do |team_info| %>
  <% user_names = team_info[2]&.split(',') %>
  <% user_prices = team_info[3]&.split(',') %>
  <%#= user_names.each_with_index.map { |user_name, index| "#{user_name} (Sold for ₹#{user_prices[index]})" }.join(', ') %>
<% end %>

<%#= team_info_strings.join(' ') %>
			<%else%>
			TheCricAuction | Developed By: Yash Sharma | The auction is yet to start
			<%end%>
		</marquee>
			</p>	
		  <% end %>
		</div>
		<nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		    <%= will_paginate @users, previous_label: 'Previous', next_label: 'Next', page_links: false, class: 'page-item', link_class: 'page-link' %>
		  </ul>
		</nav>
			
		<div class="custom-popup" id="teamSelectionPopup">
		  <p id="teamSelectionPopupMessage"></p>
		  <div class="custom-popup-buttons">
		    <button class="primary" id="teamSelectionPopupConfirm">Confirm</button>
		    <button class="secondary" id="teamSelectionPopupCancel">Cancel</button>
		  </div>
		</div>
	</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>
	document.addEventListener('DOMContentLoaded', function () {
	  let currentIndex = 0;
	  const cards = document.querySelectorAll('.user-info-card');
	  const teamSelectionPopup = document.getElementById('teamSelectionPopup');
	  const teamSelectionPopupMessage = document.getElementById('teamSelectionPopupMessage');
	  const teamSelectionPopupConfirm = document.getElementById('teamSelectionPopupConfirm');
	  const teamSelectionPopupCancel = document.getElementById('teamSelectionPopupCancel');

	  function showNextCard() {
	    currentIndex = (currentIndex + 1) % cards.length;
	  }

	  setInterval(function () {
	    showNextCard();
	    cards[currentIndex].classList.add('user-info-card-slide-in');
	    setTimeout(function () {
	      cards[currentIndex].classList.remove('user-info-card-slide-in');
	    }, 1000);
	  }, 5000);

	  document.querySelector('.increment-btn').addEventListener('click', function () {
	    const priceField = document.querySelector('.price');
	    const currentPrice = parseInt(priceField.innerText);
	    const newPrice = currentPrice + 100;

	    priceField.innerText = newPrice;
	    document.querySelector('#user_price').value = newPrice;
	    document.querySelector('.finalize-btn').style.display = 'block';
	  });

	  document.querySelector('.btn-primary').addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the default form submission

    if (!document.querySelector('.increment-btn').classList.contains('bid-clicked')) {
        document.querySelector('#user_price').value = parseInt(document.querySelector('.price').innerText);
    }

    const selectedTeam = document.querySelector('#user_team').value;

    // Check if a team is selected before playing the sound
    if (selectedTeam) {
        const confirmationMessage = `Sell player to ${selectedTeam} at ₹${document.querySelector('#user_price').value}?`;

        // Show custom pop-up with confirmation message
        teamSelectionPopupMessage.innerText = confirmationMessage;
        teamSelectionPopup.style.display = 'block';

        // Handle confirm button click
        teamSelectionPopupConfirm.addEventListener('click', function () {
            document.getElementById('bidSound').play();

            // AJAX form submission
            $.ajax({
                url: document.querySelector('form').action,
                method: 'PATCH', // or 'POST' based on your setup
                data: $(document.querySelector('form')).serialize(),
                success: function (data) {
                    // Handle success if needed
                    teamSelectionPopup.style.display = 'none';
                    setTimeout(function () {
                        window.location.reload();
                    }, 1200);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });

        // Handle cancel button click
        teamSelectionPopupCancel.addEventListener('click', function () {
            // Hide custom pop-up
            teamSelectionPopup.style.display = 'none';
        });
    } else {
        // Show custom pop-up for team selection notice
        teamSelectionPopupMessage.innerText = 'Select the team to confirm bid.';
        teamSelectionPopup.style.display = 'block';
        teamSelectionPopupConfirm.innerText = 'Ok';

        // Handle confirm button click (which is the same as cancel in this case)
        teamSelectionPopupConfirm.addEventListener('click', function () {
            // Hide custom pop-up
            teamSelectionPopup.style.display = 'none';
        });
    }
});

	  document.querySelectorAll('.increment-btn, .decrement-btn, .btn-primary, .current-price, #user_team').forEach(function (element) {
	    element.style.display = 'none';
	  });
	  // Show bid-related elements on "Start Bid" button click
	  document.querySelector('#startBidButton').addEventListener('click', function () {
	    document.querySelectorAll('.increment-btn, .decrement-btn, .btn-primary, .current-price, #user_team').forEach(function (element) {
	      element.style.display = 'block';
	    });
	    // Optionally, you can hide the "Start Bid" button after it's clicked
	    document.querySelector('#startBidButton').style.display = 'none';
	  });

	});
	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script type="text/javascript">
	  $(document).ready(function(){
	    console.log("Script is running!");
	    $(".alert-danger").delay(4500).slideUp(500);
	    $(".alert-success").delay(4500).slideUp(500);
	  }); 
	</script>

<%# 	<div> 
	   <h3>Import User Data</h3>
	  <%= form_tag import_users_path, multipart: true do %>
	    <%#= csrf_meta_tags %>
	    <%#= file_field_tag :file %>
	    <%#= submit_tag "Import CSV" %>
	  <%# end %>
	<%# </div>  %> 