<!DOCTYPE html>
<html>
<head>
  <title>Matches and Points Table: iLead Cricket Auction</title>
  <style type="text/css">
    body {
      background: linear-gradient(to top, #f58754, #1a237e);
      background-size: cover; /* Ensures the background covers the entire viewport */
      background-attachment: fixed; /* Keeps the background fixed while scrolling */
      color: white;
      font-family: Trebuchet MS;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
      padding: 20px;
      border: 2px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    h1 {
      text-align: center;
      color: #f58754;
    }
    table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
    }
    table th, table td {
      border: 2px solid #ddd;
      padding: 12px;
      text-align: center;
    }
    table th {
      background-color: #f57224;
      color: white;
    }
    table td {
      background-color: #1a237e;
      color: #f58754;
    }
    .actions {
      text-align: center;
      margin-top: 20px;
    }
    .actions a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #f57224;
      color: white;
      border-radius: 4px;
      text-decoration: none;
      margin: 10px;
      transition: background-color 0.3s, color 0.3s;
    }
    .actions a:hover {
      background-color: #1a237e;
    }
    .logo img {
      max-height: 50px;
      margin: 0 10px;
    }
    header {
      background: linear-gradient(to right, #f57224, #1a237e); 
      color: #fff;
      text-align: center;
      padding: 20px;
      font-size: 2.2em; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="https://i.postimg.cc/HkhvqWrg/logoilead.png" alt="">
        <b>Points Table</b>
      </div>
    </header>

    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Played</th>
          <th>Won</th>
          <th>Lost</th>
          <th>Points</th>
          <th>NRR</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each_with_index do |team, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= team.name %></td>
            <td><%= team.matches_played %></td>
            <td><%= team.matches_won %></td>
            <td><%= team.matches_lost %></td>
            <td><%= team.points%></td>
            <td><%= team.nrr %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h1 style="margin-top: 25px;">Match Results</h1>
    
    <%if @matches.present?%>
    <table>
      <thead>
        <tr>
          <th>Match ID</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Team 1 Total</th>
          <th>Team 2 Total</th>
          <th>Winner</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% @matches.each_with_index do |match, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= match.team1 %></td>
            <td><%= match.team2 %></td>
            <td><%= match.t1_r %> (<%= match.t1_o%>)</td>
            <td><%= match.t2_r %> (<%= match.t2_o%>)</td>
            <td>
              <% if match.t1_r > match.t2_r %>
                <%= match.team1 %>
              <% else %>
                <%= match.team2 %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', match_path(match)%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%else%>
      <h4 style="color: #1a237e; text-align: center;">No Matches Found</h4>
    <%end%>

    <div class="actions">
      <%= link_to 'Create Match', new_match_path, class: 'action-button' %>
      <%= link_to 'Manage Teams', teams_path, class: 'action-button' %>
      <%= link_to 'Back to Manage', admin_users_path, class: 'action-button' %>
    </div>
  </div>
</body>
</html>
