<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auction Report</title>
  <style>
	body {
    font-family: Trebuchet MS;
      /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
      background-color: #0a0a2a;
      margin: 0;
      padding: 0;
    }

    .email-container {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .report-card {
      max-width: 800px;
      width: 100%;
      background-color: #0a0a2a;
      border: 2px solid #f58754;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      color: #fff;
    }

    h2 {
      color: #fff;
    }

    .player-photo {
      margin-top: 20px;
    }

    .player-photo img {
      width: 100%;
      border-radius: 10px;
    }

    h3 {
      color: #fff;
      margin-top: 20px;
    }

    b {
      color: #f58754;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #f58754;
      padding: 10px;
      text-align: center;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="report-card">
      <center>
        <%= image_tag attachments['ilead.png'].url, alt: 'Logo', class: 'photo', style:"height: 15%; width: 25%; color: red;" %>
      </center>

      <h2>Hello <b><%= @user.full_name %></b>, This is your auction report</h2>
      
      <div class="player-photo">
        <% if @user.photo_attachment.attached? %>
          <%#= image_tag @user.photo_attachment, alt: "#{@user.full_name} Photo" %>
        <% else %>
          <%# <p class="no-photo">No photo attached for this player.</p> %>
        <% end %>
      </div>

      <h2>You are purchased by <b><%= @user.team %></b> for <b>₹<%= @user.price %></h2>
      
      <h2>Your Team Details</h2>

      <table>
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Sold Price (₹)</th>
          </tr>
        </thead>
        <tbody>
          <% User.where(team: @user.team).each do |user| %>
            <tr>
              <td><%= user&.full_name %></td>
              <td><%= user&.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <footer>
      <p style="color: #0a0a2a; font-size: 1.0em;">TheCricAuction | Developed By: <b style="color: f58754;">Yash Sharma</b></p>
  </footer>
</body>
</html>
